# --- Security & Secrets ---
.env
*.pem

# --- Data & Models (Managed by DVC) ---
/raw
/interim
data/*
!data/.gitkeep
experiment_info.json
reports/
mlruns/
mlflow.db
.tmp/
*.log

# --- Python & Environment ---
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# --- IDE & OS ---
.vscode/
.DS_Store
Thumbs.db

# --- DVC Meta-files ---
*.dvc
